<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<!-- <link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/formStyle.css"> -->
</head>

 <body>
    <div class="body">

      <div class="container-fluid">
        <div class="header">
          <header class="page_header">
            <h1>Travel App</h1>
            <nav class="navbar_menu">
              <ul id="navbar_list"></ul>
            </nav>
            <button type="button" class="open-button" onclick="openForm()">+ Add New Trip</button>
            <button type="button" class="open-button" onclick="">+ Edit Trip</button>
            <button type="button" class="open-button" onclick="">+ Remove Trips</button>
          </header>
          
        </div>
    
        
        <div class="form-popup" id="myForm">
          <form class="form-container">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName">
    
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName">
    
            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()"></button>
          </form>
        </div>
      </div>

    </div>

</body>
</html>