<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Travel App</title>
</head>

 <body>

      <div class="container-fluid">

        <!--           -->
        <!-- 1. HEADER -->
        <!--           -->
        <div class="header">
          <header class="page_header">
            <h1>Travel App</h1>
            <nav class="navbar_menu">
              <ul id="navbar_list"></ul>
            </nav>
            <button type="button" id="open-button" onclick="Client.openForm();">+ Add New Trip</button>
            <button type="button" id="edit-button">+ Edit Trip</button>
            <button type="button" id="remove-button">+ Remove Trips</button>
          </header>
       </div>

       <!--           -->
       <!-- 2. NAVBAR   -->
       <!--           -->
       <div class="nav">
          <div class="date-form">
            <label for="startDate">Start Date:</label>
            <input type="date" name="startDate" id="startDate">
          </div>

          <div class="date-form">
            <label for="endDate">Return Date:</label>
            <input type="date" name="endDate" id="endDate">
          </div>

          <div class="city-form">
            <label for="destinationCity">Destination:</label>
            <input type="text" name="destinationCity" id="destinationCity">
          </div>

          <div class="plusLabel">
            <label for="increaseCity">+</label>
            <input type="button" name="increaseCity" id="increaseCity" value="+" onclick="Client.addCity()">
          </div>

          <div class="button">
            <button type="button" id="inputsSubmit">+Submit+</button>
          </div>
       </div>
       
        <!--           -->
        <!-- 3. MAIN   -->
        <!--           -->
        <div class="main">

          <div id="image-area"></div>
          <div id="text-area"></div>
          <!-- popup form when add new trip-->
          
          <div class="form-popup" id="myForm">
            <form class="form-container">
              <label for="countryName">Country</label>
              <input type="text" id="countryName">
      
              <label for="cityName">City</label>
              <input type="text" id="cityName">

              <label for="postCode">Post Code(Zip Code)</label>
              <input type="text" id="postCode">
              <!-- submit button type will cause the page reload-->
              <button type="button" id="submitForm">Submit</button>
              <button type="button" class="btn cancel">Cancel</button>
            </form>
          </div>
        </div>
        

    </div>

    <script>
      // Check that service workers are supported
      // if ('serviceWorker' in navigator) {
      //     // Use the window load event to keep the page load performant
      //     window.addEventListener('load', () => {
      //         navigator.serviceWorker.register('/service-worker.js');
      //     });
      // }
  </script>

</body>
</html>