.nav{
    display: flex;
    grid-area: nav;
    border: 1px solid red;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type="date"]:hover{
    color: red;
};
input[type="text"]:hover{
    color: green;
};

button#inputsSubmit:active{
    background-color: #333;
    border-color: #333;
    color: #eee;
}