
.container-fluid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-areas: "header header saved saved saved"
                         "nav main main main main"
                         "nav main main main main"
                         "nav main main main main"
                         "nav main main main main";
    }   
    
.header { 
    display: block;
    grid-area: header;
    border: 1px solid red;
}
