#image-area {
    display: block;
    border: 1px solid green;
    width: 50%;
}

#text-area {
    display: block;
    border: 1px solid blue;
    width: 50%;
    height: 100%;
}

figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    text-align: center;
}